/* TODO: Coloca tu código aquí */
.logo {
  width: 500px;
  height: 500px;
}

.container {
  text-align: center;
}

ul {
  list-style-type: none;
}

table {
  width: 50%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid black;
}
