/* Maybe we could add something in the background so it looks nicer TODO */

.main {
    display: flex;
    flex-direction: column;
    text-align: center; 
    align-items: center;
    font-family: Arial, sans-serif;
    padding: 20px;
    
}

.main h1 {
    font-size: 28px;
    margin-bottom: 30px;
}

.form-grid {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: auto;
    gap: 30px;
    width: 100%;
    max-width: 1000px;
}

.form-item {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.question-box {
    background-color: #5f1272;
    padding: 15px 20px;
    color: white;
    font-weight: bold;
    text-align: center;
}

.radio-group {
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    gap: 10px;
    font-size: 16px;
}

.radio-group label {
    display: flex;
    align-items: center;
    gap: 5px;
}

.boton {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #103657;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3 ease;
}

.boton:hover {
    background-color: #48b2c5;
}

.mensaje-error {
    background-color: #ffd3d3;
    color: #d8000c;
    border: 1px solid #d8000c;
    padding: 10px;
    margin: 10px 0;
    border-radius: 8px;
    text-align: center;
}