.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
.modal-content {
    background-color: white;
    margin: 15% auto;
    padding: 20px;
    width: 40%;
    border-radius: 10px;
    text-align: center;
}
.close {
    float: right;
    font-size: 28px;
    cursor: pointer;
}
#logoutBtn {
    background: #ca431d;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 5px;
}
#logoutBtn:hover {
    background: #8b104e;
}

.modal-content {
    background: #ff9900;
    color: white;
}