/* este será el css utilizado */

body {
  background-color: #6a4c6e;
  font-family: Arial, sans-serif;
  margin: 0;
  color: azure;
  padding: 0;
}

a {
  color: black;
}

.logo {
  width: 500px;
  height: 500px;
}

.container {
  text-align: center;
}

ul {
  list-style-type: none;
}

table {
  width: 50%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid black;
}
