<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Panel de Administración - Moodvent</title>
    <link rel="stylesheet" href="/css/normal.css" />
  </head>
  <body>
    <header></header>

    <section class="comunidad-section">
      <div class="comunidad-content">
        <div class="comunidad-texto">
          <h1 class="bienvenido">Bienvenido, admin 👋</h1>
          <h2>Administra eventos y mejora la experiencia Moodvent</h2>
        </div>
        <div class="comunidad-imagen">
          <img src="/img/admin-welcome.png" alt="admin" />
        </div>
      </div>
    </section>

    <main>
  <div class="container-events-grid">
    <h2 class="events-title">Próximos eventos</h2>
    <div class="btn-container">
      <a href="/eventos/crearEventos" class="btn-eventos">Crear Eventos</a>
      <a href="/eventos/visualizarEventos" class="btn-eventos">Ver eventos</a>
    </div>



    

      <section class="configuracion-section">
        <h2 class="events-title">Configuración</h2>
        <div class="config-grid">
          <div class="config-box">
            <h3>Sistema de Sugerencias</h3>
            <textarea
              placeholder="Agregar o modificar el sistema de sugerencias..."
            ></textarea>
            <button class="btn-eventos">Guardar cambios</button>
          </div>
          <div class="config-box">
            <h3>Sistema de Feedback</h3>
            <textarea
              placeholder="Agregar o modificar el sistema de feedback..."
            ></textarea>
            <button class="btn-eventos">Guardar cambios</button>
          </div>
        </div>
      </section>

      <!--Equipe -->
      <section class="artistas">
        <h2>Nuestro equipo</h2>
        <p>Conoce a las personas que hacen posible Moodvent día a día.</p>

        <div class="grid-artistas">
          <div class="artista">
            <img src="/img/natalia.jpeg" alt="Miembro del equipo" />
            <p>Natalia</p>
            <p><span style="font-size: 0.9rem; color: #aaa"
                >Desarolladora</span</p>
          </div>
          <div class="artista">
            <img src="/img/myriam.jpeg" alt="Miembro del equipo" />
            <p>Myriam</p>
            <p><span style="font-size: 0.9rem; color: #aaa"
                >Desarolladora</span</p>
          </div>
          </div>
          <div class="artista">
            <img src="/img/sofia.jpeg" alt="Miembro del equipo" />
                <p>Sofia</p>
            <p><span style="font-size: 0.9rem; color: #aaa"
                >Desarolladora</span</p>
          </div>
          </div>
        </div>
      </section>
    </main>
  </body>
</html>
