<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Eventos</title>
  </head>
  <body>
    <h1>Lista de Eventos</h1>
    <ul>
      <% eventos.forEach(evento => { %>
      <li>
        <strong><%= evento.nombre %></strong> - <%= evento.fecha %> - <%=
        evento.estadoAnimo %> -
        <a href="/eventos/detalle/<%= evento.id %>">Ver más</a>
      </li>
      <% }) %>
    </ul>
    <p><a href="/">Volver</a></p>
  </body>
</html>
