
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> Pagina del historial de tests del usuario</title>
    <link rel="stylesheet" href="/css/historial.css" /> 
  </head>

  <main class="historial">
    <div class="container"> 
        <% if (typeof TestResults != 'undefined' && TestResults.length > 0) { %>
            <ul class="history-list">
                <% TestResults.forEach(entry => { %>
                    </li class="history-entry">
                        <span class="date"> <%= entry.fecha %> </span>
                        <span class="mood"> Estado: <%=entry.mood %></span>
                    </li>
                    <% }); %>
            </ul>
            <% } else { %>
                <p> No tienes entradas todavía</p>
            <% }  %>
    </div>
    <a href="/usuarios/perfil" class="goPerfil"> Volver al perfil</a>
  </main>