<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>login</title>
    <link rel="stylesheet" href="/css/login.css" />
  </head>
  <body>
    <article>
      <h1>Acceso al sistema</h1>
      <fieldset>
        <% if (!session || !session.login) { %>
        <legend>Usuario y Contrase침a</legend>
        <form action="/usuarios/login" method="POST">
          <div>
            <label for="username">Usuario:</label>
            <input
              type="text"
              id="username"
              name="username"
              value="<%= datos.username || '' %>"
            />
            <% if (errores.username) { %>
            <span style="color: red"><%= errores.username.msg %></span>
            <% } %>
          </div>

          <div>
            <label for="password">Contrase침a:</label>
            <input type="password" id="password" name="password" />
            <% if (errores.password) { %>
            <span style="color: red"><%= errores.password.msg %></span>
            <% } %>
          </div>

          <% if (error) { %>
          <p style="color: red"><%= error %></p>
          <% } %>

          <button type="submit">Iniciar sesi칩n</button>
        </form>

        <% } else { %>
        <p>
          Ya has iniciado sesi칩n.
          <a href="/contenido/normal">Ir al contenido</a>
        </p>
        <% } %>
      </fieldset>
      <p><a href="/">Volver</a></p>
    </article>
  </body>
  </html>
