<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />

    <title>Mis Eventos</title>
    <style>
      .container {
        width: 400px;
        padding: 20px;
        border: solid 1px #ccc;
      }

      .events {
        max-height: 300px; /* Fixed max-height */
        overflow-y: auto; /* Enables vertical scrollbar if content overflows */
        padding: 10px;

        margin-bottom: 10px; /* Space below the events box */
      }

      .event {
        border: solid 2px #000;
        margin: 10px 0;
        padding: 10px;
        background-color: #f9f9f9;
      }

      .selected {
        background-color: #e0e0e0;
      }

      button {
        padding: 10px;
        background-color: #000; /* Black background */
        color: white;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1>Mis eventos:</h1>

      <div class="events">
        <div class="event" onclick="selectEvent(this);">
          <img src="hike.jpg" alt=" Hike" />
        </div>

        <div class="event" onclick="selectEvent(this);">
          <img src="hike.jpg" alt=" Cooking Workshop" />
        </div>

        <div class="event" onclick="selectEvent(this);">
          <img src="hike.jpg" alt=" Outdoor Paintings" />
        </div>

        <!-- Test-->
        <div class="event" onclick="selectEvent(this);">
          <img src="hike.jpg" alt=" dANCE" />
        </div>

        <div class="event" onclick="selectEvent(this);">
          <img src="hike.jpg" alt=" A" />
        </div>

        <div class="event" onclick="selectEvent(this);">
          <img src="hike.jpg" alt=" B" />
        </div>
        <div class="event" onclick="selectEvent(this);">
          <img src="hike.jpg" alt=" C" />
        </div>
        <div class="event" onclick="selectEvent(this);">
          <img src="hike.jpg" alt=" D" />
        </div>
        <div class="event" onclick="selectEvent(this);">
          <img src="hike.jpg" alt=" E" />
        </div>

        <div class="event" onclick="selectEvent(this);">
          <img src="hike.jpg" alt=" Music" />
        </div>
        <div class="event" onclick="selectEvent(this);">
          <img src="hike.jpg" alt=" A" />
        </div>
        <div class="event" onclick="selectEvent(this);">
          <img src="hike.jpg" alt=" b" />
        </div>
        <div class="event" onclick="selectEvent(this);">
          <img src="hike.jpg" alt=" Test" />
        </div>
      </div>

      <div class="buttons">
        <button id="crear" onclick="location.href='crearEvento.ejs';">
          Crear
        </button>
        <button id="modificar" onclick="location.href='modificarEventos';">
          Modificar
        </button>
      </div>
    </div>

    <!--Pour selected buttons -->
    <script>
      function selectEvent(element) {
        // Remove 'selected' class from all events
        var events = document.querySelectorAll(".event");
        events.forEach(function (event) {
          event.classList.remove("selected");
        });

        // Add 'selected' class to the clicked event
        element.classList.add("selected");
      }
    </script>
  </body>
</html>
