<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('../partials/head.ejs') %> 
</head>
<meta charset="UTF-8" />
<body>
<div class="container">
    <p>Hola Usuario! Estamos trabajando para que puedas ver todo lo que Moodvent te puede ofrecer. Gracias por registrarte! </p>
  </body>
</html>
