<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Moodvent</title>
  </head>
  <body class="color">
    <h1>Bienvenido</h1>
    <h2>Próximos eventos</h2>
    <!--code de W3school-->
    <h2>Image Gallery With Horizontal Scroll</h2>
    <p>Use the horizontal scrollbar to see the other images.</p>

    <div class="scroll-container">
      <img
        src="/img/eventos/arte1.jpg"
        alt="Cinque Terre"
        width="600"
        height="400"
      />
      <img
        src="/img/eventos/concierto3.png"
        alt="Forest"
        width="600"
        height="400"
      />
      <img
        src="/img/eventos/futbol1.jpg"
        alt="Northern Lights"
        width="600"
        height="400"
      />
      <img
        src="/img/eventos/moda1.jpg"
        alt="Mountains"
        width="600"
        height="400"
      />
    </div>
  </body>
</html>
