<h1 class="bienvenido">Bienvenido, <%= session?.nombre || "usuario" %> 👋</h1>
<div class="contenedor-perfil">
  <img src="" alt="" />
  <p>Nombre:</p>
  <p>Apellido:</p>
  <p>Usuario:</p>
  <p>Edad</p>
  <a href="">modificar</a>
</div>
<div class="mis-eventos"></div>
