<head>
  <% if (contenido === "paginas/normal" || contenido === "paginas/admin" ||
  contenido ==="paginas/eventos" || contenido === "paginas/mood-test" || contenido === "paginas/resultado" || contenido === "paginas/historial") { %>
  <link rel="stylesheet" href="/css/styles.css" />
  <% } %>
  <meta charset="UTF-8" />
  <title>Mi sitio</title>
</head>


<!-- Si je veux creer un css et pas le mettre dans styles for it to work i'll just have to add it here -->