<head>
  <% if (contenido === "paginas/normal" || contenido === "paginas/admin") { %>
  <link rel="stylesheet" href="/css/styles.css" />
  <% } %>
  <meta charset="UTF-8" />
  <title>Mi sitio</title>
</head>
