<<<<<<< Updated upstream
<!-- head-->
<head>
  <!--<link rel="stylesheet" type="text/css" href="/css/styles.css" />-->
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Primera p치gina din치mica</title>
</head>
=======
<link rel="stylesheet" type="text/css" href="/css/contenido.css" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Primera p치gina din치mica</title>
>>>>>>> Stashed changes
