<!-- Navbar -->

<nav class="navbar">
    <ul class="nav-links">
        <li><a href="/index.hmtl">Inicio</a></li>
        <li><a href="/miembros.html">Nosotros</a></li>
        <li><a href="/detalles.html">Mas Detalles</a></li>
        <li><a href="/contacto.html">Contacto</a></li>
    </ul>
</nav>

<footer class="footer">
    <p>&copy; 2025 - Todos los derechos reservados</p>
</footer>
