<nav class="navbar">
  <a href="/" class="company">Moodvent</a>

  <!-- Botón del menú hamburguesa -->
  <button class="menu-toggle" id="menu-toggle">&#9776;</button>

  <div class="saludo">
    <% if (session && session.login) { %>
    <a href="/eventos/visualizarEventos" class="btn">Ver eventos</a>
    <a href="/usuarios/home" class="btn">Mi espacio </a>
    <a href="/usuarios/perfil" class="btn">Perfil</a>
    <a href="/usuarios/logout" class="btn">Cerrar sesión</a>

    <% } else { %>
    <a href="/usuarios/login" class="btn">Login</a>
    <% } %>
  </div>
</nav>
