<footer class="footer">
  <div class="footer-column">
    <h3>Contacto</h3>
    <p>Tel: (55) 1234 5678</p>
    <p>Email: contacto@moodvent.com</p>
  </div>
  <div class="footer-column">
    <h3>Enlaces</h3>
    <ul>
      <li><a href="#">©Moodvent</a></li>
      <li><a href="#">Eventos</a></li>
      <li><a href="#">Comunidad</a></li>
    </ul>
  </div>
  <div class="footer-column">
    <h3>Síguenos</h3>
    <p>Instagram: @moodvent</p>
    <p>Twitter: @moodvent</p>
  </div>
</footer>
